body {
  background-image: url("/images/9193579.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0px;

}

main {
  display: grid;
}

.top-header {
  height: 55px;
  background-color: #ffff;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
  


.header-text {
  font-weight: 500;
  font-size: 11px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.8px;
  line-height: 16px;
  font-style: normal;

}


.right-header-text {
  display: flex;
  float: right;
  align-items: center;

}

.shape-text {
  font-weight: 400;
  font-size: 10px;
  margin-left: 6px;
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  letter-spacing: 0.08px;
  line-height: 15px;
}

.shape-img {
 width: 8px;
 height: 12px;
}
.container {
 position: relative;
}

.gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 14.31%, rgba(27, 27, 27, 0.469176) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
  mix-blend-mode: normal;
  opacity: 0.24;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.under-header {
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding-top: 48px;
}

.nav-container {
  display: block;
  width: 680px;

}

.nav-items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;

}

.middle-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}


.middle-section-placeholder-text {
 border:none;
 border-radius: 3px;
 outline: none;
 z-index: 100;
 padding-left: 16px;
 padding-right: 16px;
 background-color: rgba(247, 247, 247, 0.24);
 width: 590px;
 height: 50px;
 background-image: url("/images/Fill 1.png");
 background-repeat: no-repeat;
 background-position: center right 16px;
 margin-bottom: 24px;
 margin-left: 16px;
 margin-right: 16px;
}

#placeholderText::placeholder {
  color: #ffff;
  opacity: 1;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  
}

.right-section {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  color: #ffff;
  line-height: 16px;
  letter-spacing: 1px;
  z-index: 100;
} 

.sign-and-register {
  align-self: baseline;
}

.basket-img-container {
  margin-top: -6px;
}

#basket-img {
  align-self:first baseline;
  margin-left: 26px;
  margin-right: 26px;
  width: 16px;
  height: 24px;
}

.left-section {
  font-size: 38px;
  font-weight: 700;
  color: #ffff;
  line-height: 57px;
  letter-spacing: 0.95px;
  z-index: 100;
  margin-left: 24px;
}

.witamy {
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 23%;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 90px;
  font-weight: 700;
  color: #ffff;
  justify-content: center;
}

.register-container {
display: grid;
align-items: center;
justify-content: center;
width: 100%;
height: 150px;
background-color: #ffff;
}

.register-notation {
width: 440px;
height: 36px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.87px;
}

.register-placeholder-container {
  width: 440px;
  height: 36px;
}

.register-input {
height: 32px;
width: 300px;
border: 1px solid #E1E0E1;
border-radius: 3px;
outline: none;
}

.register-input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16,5px;
  letter-spacing: 0.8px;
  padding-left: 10px;
}

.register-button {
width: 94px;
height: 36px;
background: #000000;
border-radius: 3px;
border: none;
color: #ffff;
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 10px;
line-height: 20px;
letter-spacing: 1px;
text-transform: uppercase;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 10px;
}

footer {
  position: sticky;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 100%;
  padding-left: 20%;
  padding-right: 10%;
  background-color: #F7F7F7;
}

.footer-row-one {
  grid-row: 1;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;

}

#payments {
  margin-bottom: 28px;
}

.footer-row-two {
  grid-row: 2;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.footer-heads {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

.footer-social-logo-img {
  margin-left: 10px;
}

.copyright {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.5px;
}