body {
  margin: 0px;
  /* Отступы по умолчанию вокруг body */
  color: #000000;
  /* Цвет текста по умолчанию */
  background-color: #ffffff;
  /* Цвет фона по умолчанию */
}

.left-move-container {
  display: none;
}

.mobile-footer-container {
  display: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  margin: 0px auto;
}

.container-after-warper {
  height: 100%;
  background-image: url("../images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 3000px;
  margin: 0px auto;
}

main {
  display: grid;
  flex: 1 1 auto;
}

.top-header {
  height: 55px;
  background-color: #ffff;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}



.header-text {
  font-weight: 500;
  font-size: 11px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.8px;
  line-height: 16px;
  font-style: normal;

}

.right-header-text {
  display: flex;
  float: right;
  align-items: center;

}

.shape-text {
  font-weight: 400;
  font-size: 10px;
  margin-left: 6px;
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  letter-spacing: 0.08px;
  line-height: 15px;
}

.shape-img {
  width: 8px;
  height: 12px;
}

.container {
  position: relative;
  background-color: initial;
  transition: background-color 0.5s ease-in-out;
}

.container.active {
  background-color: white;
  transition: background-color 0.5s ease-in-out;
}

.gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 14.31%, rgba(27, 27, 27, 0.469176) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
  mix-blend-mode: normal;
  opacity: 0.24;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

.gradient.active {
  background: none;
  transition: background-color 0.5s ease-in-out;
}

.under-header {
  height: 155px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  padding-top: 48px;
}

.nav-container {
  display: block;
  width: 680px;

}

.burger-img {
  display: none;
}

.scope-white-img {
  display: none;
}

.nav-items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  transition: color 0.7s ease-in-out;
}

.nav-items.active {
  color: black;
  transition: color 0.7s ease-in-out;
}

.middle-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.middle-section-placeholder-text {
  border: none;
  border-radius: 3px;
  outline: none;
  z-index: 100;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(247, 247, 247, 0.24);
  width: 100%;
  height: 50px;
  background-image: url("../images/Fill1.png");
  background-repeat: no-repeat;
  background-position: center right 16px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
  transition: backgroundImage 0.9s ease-in-out;
}

.middle-section-placeholder-text.active {
  background-color: #F7F7F7;
  background-image: url("../images/Fill2.png");
  transition: backgroundImage 0.3s ease-in-out;
}

#placeholderText::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;

}

.right-section {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  color: #ffff;
  line-height: 16px;
  letter-spacing: 1px;
  z-index: 100;
  transition: color 0.9s ease-in-out;
}

.right-section.active {
  color: black;
  transition: color 0.5s ease-in-out;
}

.sign-and-register {
  align-self: baseline;
}

.basket-img-container {
  margin-top: -6px;
}

#basket-img {
  align-self: first baseline;
  margin-left: 26px;
  margin-right: 26px;
  width: 16px;
  height: 24px;
}


.left-section {
  font-size: 38px;
  font-weight: 700;
  color: #ffff;
  line-height: 57px;
  letter-spacing: 0.95px;
  z-index: 100;
  margin-left: 24px;
  transition: color 0.5s ease-in-out;
}

.left-section.active {
  color: black;
  transition: color 0.9s ease-in-out;
}

.witamy {
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 23%;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 90px;
  font-weight: 700;
  color: #ffff;
  justify-content: center;
}

.register-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #ffff;
}

.register-notation {
  width: 440px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.87px;
  margin-left: 10px;
}

.register-placeholder-container {
  width: 440px;
  height: 36px;
  margin-left: 10px;
}

.register-input {
  height: 32px;
  width: 300px;
  border: 1px solid #E1E0E1;
  border-radius: 3px;
  outline: none;
}

.register-input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16, 5px;
  letter-spacing: 0.8px;
  padding-left: 10px;
}

.register-button {
  width: 94px;
  height: 36px;
  background: #000000;
  border-radius: 3px;
  border: none;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

footer {
  position: sticky;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 100%;
  padding-left: 20%;
  padding-right: 10%;
  background-color: #F7F7F7;
}

.footer-row-one {
  grid-row: 1;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;

}

#payments {
  margin-bottom: 28px;
}

.footer-row-two {
  grid-row: 2;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.footer-heads {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

.footer-social-logo-img {
  margin-left: 10px;
}

.copyright {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.5px;
}

#mobile-copyright {
  display: none;
}

.transparent {
  display: none;
  width: 100%;
  height: 450px;

}

.mobile-footer-social {
  display: none;
}


.mobile-finder-container {
  display: none;
}

.mobile-left-sidebar {
  display: none;
}

.mobile-left-sidebar2 {
  display: none;
}

.mobile-left-sidebar3 {
  display: none;
}

.m-sidebar-head {
  display: none;
}



/* ======================================= */
@media (max-width: 991.98px) {

  .nav-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    font-size: 10px;
    align-items: center;

  }

  .nav-items p {
    flex: 1 1 33.33%;
    margin: 0;
    padding: 0;
  }

  .witamy {
    font-size: 30px;
  }

  .left-section {
    font-size: 30px;
  }

  .footer-row-one {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container {
    height: 100%;
  }


}



/* All is good for this checkpoint */

@media (max-width: 767.98px) {}

@media (max-width: 319.98px) {}

/* ------------------------------- */

@media (max-width: 575.98px) {
  .transparent {
    display: block;
  }

  .top-header {
    display: none;
  }

  .sign-and-register {
    display: none;
  }

  .witamy {
    display: none;
  }

  .middle-section {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .register-placeholder-container {
    display: flex;
    height: 60px;
    width: 100%;
  }

  .register-notation {
    display: flex;
    width: 95%;
  }

  .register-input {
    width: 100%;
  }

  .gradient {
    height: 100%;
  }

  .left-section {
    margin-left: 0px;
  }

  .container-after-warper {
    background-size: auto;
    background-position-x: -700px;
  }

  .burger-img {
    display: flex;
    width: 20px;
    height: 15px;
    margin-left: 15px;
    z-index: 100;
    padding: 5px;
  }

  .scope-white-img {
    display: flex;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    z-index: 100;
    padding: 5px;
  }

  .scope-white-img.crossadd {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    z-index: 100;
    padding: 5px;
  }

  .under-header {
    align-items: center;
    height: 25px;
    padding-top: 20px;
  }

  .nav-container {
    width: 0px;
  }

  .footer-container {
    display: none;
  }

  .mobile-footer-container {
    display: none;
    background-color: #F7F7F7;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mobile-footer-row-one {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .mobile-footer-heads {
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecbcb;
    padding: 10px;

  }

  .chevron {
    z-index: 100;
    padding-left: 15px;
    padding-right: 7px;

  }

  .mobile-about-us-drops {
    display: none;
    padding-left: 10px;

  }

  .mobile-footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 100%;
    background-color: #ffff;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .mobile-footer-social img:not(:last-child) {
    margin-right: 10px;
  }

  #mobile-copyright {
    display: flex;
    justify-content: center;
    background-color: #ffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  .mobile-finder-container {
    display: none;
  }

  .mobile-finder-container.findStatus {
    display: block;
    margin-bottom: 0px;
  }

  .mobile-finder-placeholder {
    border: none;
    border-radius: 3px;
    outline: none;
    z-index: 100;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(247, 247, 247, 0.24);
    color: #ffff;
    width: 80%;
    height: 32px;
    background-image: url("../images/Fill1.png");
    background-repeat: no-repeat;
    background-position: center right 16px;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
  }

  #mobileFinder::placeholder {
    color: #ffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8px;

  }

  .mobile-left-sidebar {
    z-index: 110;
    padding-top: 15px;
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    animation-name: lefthide;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32) 10%, transparent 0%);
    background-color: #ffff;
  }

  .mobile-left-sidebar.active {
    z-index: 110;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation-name: leftgrow;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32) 10%, transparent 0%);
    background-color: #ffff;

  }

  .mobile-left-sidebar2 {
    z-index: 110;
    padding-top: 15px;
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    animation-name: lefthide;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32) 10%, transparent 0%);
    background-color: #ffff;
  }

  .mobile-left-sidebar2.active {
    z-index: 110;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation-name: leftgrow;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32) 10%, transparent 0%);
    background-color: #ffff;

  }

  .mobile-left-sidebar3 {
    z-index: 110;
    padding-top: 15px;
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    animation-name: lefthide;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32) 10%, transparent 0%);
    background-color: #ffff;
  }

  .mobile-left-sidebar3.active {
    z-index: 110;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation-name: leftgrow;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32) 10%, transparent 0%);
    background-color: #ffff;

  }


  @keyframes leftgrow {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }

  @keyframes lefthide {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  .mobile-left-sidebar.active>.mobile-left-row {
    display: block;
  }

  .mobile-left-sidebar2.active>.mobile-left-row {
    display: block;
  }

  .mobile-left-sidebar3.active>.mobile-left-row {
    display: block;
  }

  .mobile-left-row {
    display: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding-top: 5px;
    padding-bottom: 2px;
  }

  .mobile-left-heads {
    font-family: 'Poppins', serif;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.2px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecbcb;
    padding: 10px;
    width: 84%;
  }

  .mobile-left-heads3 {
    font-family: 'Poppins', serif;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.1px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecbcb;
    padding: 10px;
    width: 84%;
  }

  .mobile-left-drops {
    display: none;
    padding-left: 10px;
  }

  .mobile-left-sidebar.active>.m-sidebar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    align-items: center;
    z-index: 110;
    margin-bottom: 30px;
  }

  .mobile-left-sidebar2.active>.m-sidebar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    align-items: center;
    z-index: 110;
    margin-bottom: 30px;
  }

  .mobile-left-sidebar3.active>.m-sidebar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    align-items: center;
    z-index: 110;
    margin-bottom: 30px;
  }

  .m-sidebar-head {
    display: none;
  }

  .m-text {
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    line-height: 57px;
    letter-spacing: 0.95px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }

  #mCrossBlack {
    padding: 5px;
    margin-left: 30px;
  }

  #mCrossBlack2 {
    padding: 5px;
    margin-left: 30px;
  }

  #mCrossBlack3 {
    padding: 5px;
    margin-left: 30px;
  }

  .m-right {
    width: 16px;
    margin-right: 30px;
  }

  .m-sidebar-second {
    display: none;
  }

  .mobile-left-sidebar.active>.m-sidebar-second {
    display: none;
    grid-template-columns: 50px 1fr 3fr;
    align-items: center;
    justify-items: flex-end;
    width: 100%;
    height: 30px;
    border-bottom: solid rgba(51, 51, 51, 1) 1px;
    padding-bottom: 10px;
    width: 89%;
  }


  .mobile-left-sidebar2.active>.m-sidebar-second {
    display: grid;
    grid-template-columns: 50px 2fr 3fr;
    align-items: center;
    justify-items: flex-end;
    width: 100%;
    height: 30px;
    border-bottom: solid rgba(51, 51, 51, 1) 1px;
    padding-bottom: 10px;
    width: 89%;
  }

  .mobile-left-sidebar3.active>.m-sidebar-second {
    display: grid;
    grid-template-columns: 50px 2fr 3fr;
    align-items: center;
    justify-items: flex-end;
    width: 100%;
    height: 30px;
    border-bottom: solid rgba(51, 51, 51, 1) 1px;
    padding-bottom: 10px;
    width: 89%;
  }

  .listitem {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.2px;

  }

  .view {
    text-decoration: underline;
    margin-right: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-decoration-line:
  }

  #chevronRighr {
    padding: 5px;
  }
  #chevronRighr2 {
    padding: 5px;
  }
  #chevronRighr3 {
    padding: 5px;
  }

  .mobile-left-sidebar.active>.footer-left {
    background-color: #F7F7F7;
    border-bottom: solid white 1px;
    grid-template-columns: 1fr;
    justify-items: left;
    position: absolute;
    bottom: 143px;
  }

  .mobile-left-sidebar2.active>.footer-left {
    background-color: #F7F7F7;
    border-bottom: solid white 1px;
    grid-template-columns: 1fr;
    justify-items: left;
    position: absolute;
    bottom: 143px;
  }

  .mobile-left-sidebar3.active>.footer-left {
    background-color: #F7F7F7;
    border-bottom: solid white 1px;
    grid-template-columns: 1fr;
    justify-items: left;
    position: absolute;
    bottom: 143px;
  }


  .mobile-left-sidebar.active>.footer-left2 {
    background-color: #F7F7F7;
    border-bottom: solid white 1px;
    grid-template-columns: 1fr;
    justify-items: left;
    position: absolute;
    bottom: 100px;
  }

  .mobile-left-sidebar2.active>.footer-left2 {
    background-color: #F7F7F7;
    border-bottom: solid white 1px;
    grid-template-columns: 1fr;
    justify-items: left;
    position: absolute;
    bottom: 100px;
  }

  .mobile-left-sidebar3.active>.footer-left2 {
    background-color: #F7F7F7;
    border-bottom: solid white 1px;
    grid-template-columns: 1fr;
    justify-items: left;
    position: absolute;
    bottom: 100px;
  }

  .mobile-left-sidebar.active>.text {
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
    border-bottom: solid white 2px;
    position: absolute;
    bottom: 50px;
  }

  .mobile-left-sidebar2.active>.text {
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
    border-bottom: solid white 2px;
    position: absolute;
    bottom: 50px;
  }

  .mobile-left-sidebar3.active>.text {
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
    border-bottom: solid white 2px;
    position: absolute;
    bottom: 50px;
  }


  .text-footer {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #000000;
  }

  .sign-left {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
  }

  .stores {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
  }

  #map {
    margin-right: 10px;
  }


}